<html>
<body>
  <h1><%= Game.view_game.turn[1].name %> lays the SMACKDOWN on <%= Game.view_game.turn[0].name %>!</h1>
  <div>
    <img style="-webkit-user-select: none" src="https://m.popkey.co/8aab94/1xN07.gif">
  </div>
  <p><%= Game.view_game.turn[0].name %>'s HP was reduced by 10</p>
  <div>
    <form action="/play">
      <input type="submit" value="Next Turn!" />
    </form>
</body>
</html>
