<html>
  <head>

  </head>

  <body>
    <h1>GAME OVER</h1>

    <h2><%= Game.view_game.losing_player.name %> has been defeated and has brought shame to their family</h2>

    <form action='/'>
      <input type="submit" value="Play Again"/>
    </form>

  </body>

</html>
