<html>
<head>
  <link rel="stylesheet" href="public/reset.css" />
  <link rel="stylesheet" href="css/index.css" />
</head>
<body>
    <h1>Battle Royale!</h1>

    <h2>Sign in to play</h2>

    <form action="/names" method="post">
      <div class="players">
        <div class="player1">
          <label for="player_1_name">Player 1</label>
          <input type="text" name="player_1_name" placeholder="Enter Fighter">
        </div>

        <div class="player2">
          <label for="player_1_name">Player 2</label>
          <input type="text" name="player_2_name" placeholder="Enter Fighter">
        </div>

        <div class="start">
          <input type="submit" value="Fight!">
        </div>
      </div>
    </form>

    <div class = "samurai">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/f3/16/cb/f316cbefaf7981bfa5a0f144d1fcb5ed.png">
    </div>

    <audio src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" autoplay loop="true"></audio>
  </body>

</html>
