<html>
<body>
  <h1>Rumble in the Digital Jungle</h1>
  <div>
    <h2><%= @player_1_name %> Vs. <%= @player_2_name %></h2>
  </div>
  <div>
    <h2><%= @player_2_name %>'s Hit Points : 100HP</h2>
  </div>
</body>
