@font-face {
    font-family: 'hiroshi';
    src: url('hirosh.normal-webfont.woff2') format('woff2'),
         url('hirosh.normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  background: url("http://3.bp.blogspot.com/-vdc2h1gq2pk/UI6J9bavLFI/AAAAAAAAA5Q/n0NG7qSUORs/s1600/Final_Asian_Temple_03_V02.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'hiroshi';
  margin-top: 150px;
  margin-bottom: 100px;
  text-shadow: 2px 2px 4px white;
}

h2 {
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 2px white;
  font-family: 'hiroshi';
}

div {
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 2px white;
  font-family: 'hiroshi';
}

.players {
  border: none;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.player1 {
  float: left;
}

.player2 {
  float: left;
}

.player1, .player2 {
  width: 50%;
}

label {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

input {
  text-align: center;
  width: 250px;
  height: 50px;
  margin-bottom: 50px;
}

input[placeholder]{
  font-size: 20px;
  font-family: 'hiroshi';
}


input[type=submit] {
  height: 100px;
  width: 300px;
  border: 3px solid;
  border-color: rgb(0, 0, 0);
  font-size: 60px;
  font-family: 'hiroshi';
  background-color: rgb(255, 211, 238);
  cursor: url(http://orig09.deviantart.net/7b85/f/2016/025/d/f/katana_cursor_by_pha_li-d9p9f4c.png), auto;
}
